&zephyr_udc0 {
        mic_0 {
                compatible = "usb-audio-mic";
                feature-mute;
                channel-l;
                sample-rate-hz = <48000>;
                resolution = <16>;
        };
};
